<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">

<div layout:fragment="content" class="container">
    <h1>Open Bank Account</h1>
    <form action="#" th:action="@{/bankaccount}" method="POST">
        <div class="form-group">
            <label for="inputCustomerId">Customer Id</label>
            <input type="input" class="form-control" name="customerId" id="inputCustomerId">
        </div>

        <div class="form-group">
            <label for="inputType">Type</label>
            <input type="input" class="form-control" name="type" id="inputType">
        </div>

        <div class="form-group">
            <label for="inputBalance">Balance</label>
            <input type="input" class="form-control" name="balance" id="inputBalance">
        </div>

        <div class="form-group">
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
    <hr>

    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Id</th>
            <th>CustomerId</th>
            <th>Type</th>
            <th>Balance</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="bankAccount: ${allBankAccount}">
            <td th:text="${bankAccount.id}"></td>
            <td th:text="${bankAccount.customerId}"></td>
            <td th:text="${bankAccount.type}"></td>
            <td th:text="${bankAccount.balance}"></td>
            <td>
                <a th:href="@{/bankaccount/edit/{id}(id=${bankAccount.id})}">Edit</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</html>